<div class="container">
  <mat-card class="post-card">
    <mat-card-header>
      <mat-card-actions class="delatePost">
        <button *ngIf="canDeletePost()" mat-icon-button (click)="delatePost()">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
      <mat-card-title>{{ title }}</mat-card-title>
      <mat-card-subtitle class="date">{{
        post.createdAt | date : "dd/MM/yy, HH:mm"
      }}</mat-card-subtitle>
      <mat-card-subtitle
        >{{ userName }}<br />
        {{ userEmail }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ body }}</p>
    </mat-card-content>
    <div class="mat-list-item">
      <button mat-icon-button type="submit" (click)="like()">
        <mat-icon matBadge="{{ post.likes }}" matBadgeColor="warn"
          >favorite</mat-icon
        >
      </button>
      <span class="nameLikes"> {{ nameLikes }}</span>
    </div>
    <app-commenti [postId]="iDpost"></app-commenti>
  </mat-card>
</div>
