<div class="container-post p-1 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
  <div class="post-card">
    <div class="header row pt-2 ps-2 pb-2">
      <div class="col-11">
        <div class="user d-flex pb-1" style="gap: 6px;">
          <div class="name" style="font-size: 12px"><a class="user-link" (click)="openUserProfile()">{{ userName }}   </a></div>
          <div class="date" style="font-size: 10px;">  {{ post.createdAt | date : "dd/MM/yy, HH:mm"}}</div>
        </div>
        <div class="title" style="font-size: 22px;font-weight: 500;">{{title}}</div>
      </div>
      <div class="col-1">
        <label class="popup" *ngIf="canDeletePost()">
          <input type="checkbox">
          <div class="burger" tabindex="0">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <nav class="popup-window">
            <legend>Actions</legend>
            <ul>
              <li>
                <button (click)="delatePost()">
                  <svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none"
                    viewBox="0 0 24 24" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                    <line y2="18" x2="6" y1="6" x1="18"></line>
                    <line y2="18" x2="18" y1="6" x1="6"></line>
                  </svg>
                  <span>Delete</span>
                </button>
              </li>
            </ul>
          </nav>
        </label>
      </div>
    </div>
    <div class="py-2 ps-2" style="font-weight: 400; font-size: 16px;">{{body}}</div>
    <div class="image-preview relative" *ngIf="imagePost">
        <span 
          class="material-icons position-absolute top-0 end-0 m-2 p-1 text-white rounded-circle bg-dark bg-opacity-50"
          style="cursor: pointer; font-size: 20px;"
          (click)="toggleFitMode()"
          title="Visualizza immagine"
        >
          {{ fitMode === 'cover' ? 'zoom_out_map' : 'fullscreen_exit' }}
        </span>
      <div class="image-loading" *ngIf="imageLoading">
        <mat-spinner diameter="30"></mat-spinner>
      </div>
      <img *ngIf="!imageLoading" [src]="imagePost" [ngClass]="{
      'object-fit-cover': fitMode === 'cover',
      'object-fit-contain': fitMode === 'contain'
      }" />
    </div>
    <div style="border-top: solid 1px #e0e0e0;height: 45px;border-top-left-radius: 10px;border-top-right-radius: 10px;" class="d-flex align-items-center bg-gray-100">
      <!-- <button (click)="openComments()">Comments</button> -->
      <div class="ps-2">
        <button class="bookmarkBtn p-0" (click)="openComments()">
          <span class="IconContainer">
            <svg fill="white" viewBox="0 0 512 512" height="1em">
              <path
                d="M123.6 391.3c12.9-9.4 29.6-11.8 44.6-6.4c26.5 9.6 56.2 15.1 87.8 15.1c124.7 0 208-80.5 208-160s-83.3-160-208-160S48 160.5 48 240c0 32 12.4 62.8 35.7 89.2c8.6 9.7 12.8 22.5 11.8 35.5c-1.4 18.1-5.7 34.7-11.3 49.4c17-7.9 31.1-16.7 39.4-22.7zM21.2 431.9c1.8-2.7 3.5-5.4 5.1-8.1c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208s-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6c-15.1 6.6-32.3 12.6-50.1 16.1c-.8 .2-1.6 .3-2.4 .5c-4.4 .8-8.7 1.5-13.2 1.9c-.2 0-.5 .1-.7 .1c-5.1 .5-10.2 .8-15.3 .8c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4c4.1-4.2 7.8-8.7 11.3-13.5c1.7-2.3 3.3-4.6 4.8-6.9c.1-.2 .2-.3 .3-.5z">
              </path>
            </svg>
          </span>
          <p class="text m-0">Comments {{post.commentCount}}</p>
        </button>
      </div>
      <div class="ps-2">
        <button class="Btn" type="submit" (click)="like()">
          <span class="leftContainer">
            <svg fill="white" viewBox="0 0 512 512" height="1em" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z">
              </path>
            </svg>
            <span class="like">Like</span>
          </span>
          <span class="likeCount">
            {{post.likes}}
          </span>
        </button>
      </div>
    </div>
    <app-commenti [isCommentVisible]="isCommentVisible" [postId]="iDpost"></app-commenti>
  </div>
</div>