<div class="loading-overlay" *ngIf="isLoading">
  <mat-spinner diameter="50"></mat-spinner>
</div>
<div class="row p-3 h-100" style="overflow: auto;">
  <div class="col-9 py-2" *ngIf="user">
    <div class="d-flex justify-content-center pb-4">
      <mat-card class="p-3" style="border-radius: 15px; width: 90%; background-color: #ede8f6;">
        <div class="row h-100">
          <div class="col-5 d-flex justify-content-center p-2">
            <div class="ps-2">
              <div class="image-preview">
                <div *ngIf="imageLoading">
                  <mat-spinner diameter="50"></mat-spinner>
                </div>
                <img *ngIf="!imageLoading" [src]="userImage"/>
              </div>
            </div>
          </div>
          <div *ngIf="user" class="col-7 align-content-center" style="font-size: 32px;font-weight: 500;">
            <div class="d-flex align-items-center py-3">
              <span>{{ user.name }}</span>
              <span class="ms-2" style="display: inline-block; height: 10px; width: 10px; border-radius: 50%;"
                [ngStyle]="{
                      background: user.status === 'online' ? 'green' : 'red'
                    }"></span>
            </div>
            <div class="secondInfo">{{user.email}}</div>
            <div class="secondInfo">Age : {{ user.age || "Age not provided" }}</div>
            <div class="secondInfo">Address :{{ user.address || "Address not provided" }}</div>
            <div class="secondInfo">Gender : {{ user.gender }}</div>
          </div>
          <div class="col d-flex align-items-center flex-column pt-3">
            <div style="height: 70%; width: 95%">
              <p style="font-size: 24px; font-weight: 500;">In breve</p>
              <p style="text-align: justify;font-size: 0.99em;">{{
                user.description || "No description available"
                }}</p>
            </div>
            <div class="addUser pt-3 d-flex justify-content-center">
              <button mat-fab extended color="primary" class="btnUser" (click)="openDialog()">
                Customize Profile
              </button>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
    <form class="add" #addPostForm="ngForm" (ngSubmit)="onSubmit(addPostForm)">
      <div class="customInput">
        <div class="py-1 pt-1">
          <input type="text" name="title" class="input-title-text w-100 ps-3" placeholder="Write a Title"
            [(ngModel)]="PostDto.title" style="border: 0;outline: none; height: 28px;">
        </div>
        <div class="py-1">
          <textarea type="text" name="post" class="input-title-text w-100 pt-2 ps-3" placeholder="Write a Post"
            [(ngModel)]="PostDto.post"
            style="height: 40px; border: 0;outline: none;"></textarea>
        </div>
        <div *ngIf="imagePreview" class="clearImagePreview">
          <a mat-mini-fab class="button">
            <mat-icon style="color: white;" (click)="clearImagePreview()">close</mat-icon>
            <span class="text">Clear Image</span>
          </a>
        </div>
        <div *ngIf="imagePreview" class="image-previewPost">
          <img [src]="imagePreview" alt="Image Preview" />
        </div>
        <div class="w-100 d-flex justify-content-end align-items-end" style="height: 40px; border-top: 2px solid lightgray;" >
          <div style="height: 32.8px;">
            <button class="mb-2" style="height: 28px; width: 100px; border-radius: 10px;" mat-fab extended color="primary" type="submit"
              [disabled]="!PostDto.title || !PostDto.post || isSubmitting">
              Post
            </button>
          </div>
          <div class="ps-2">
              <button (click)="fileInput.click()" [disabled]="isSubmitting" type="button" class="file-upload inline-flex justify-center items-center p-2 text-gray-500 rounded-sm cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                <svg style="height: 22px; width:22px" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                     <path d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"/>
                 </svg>
                <span class="sr-only">Upload image</span>
                <input #fileInput type="file" class="hidden" (change)="renderImagePreview($event)" accept="image/*"/>
            </button>
            <!-- <a mat-fab extended class="custom-file-upload" [disabled]="isSubmitting">
              <label class="custom-file-upload" mat-fab extended>
                <input type="file" (change)="renderImagePreview($event)" accept="image/*" />
                <span class="material-symbols-outlined" style="font-size: 28px;">image</span>
              </label>
            </a> -->
          </div>
        </div>
      </div>
    </form>
    <h2 *ngIf="!post" class="no-post">{{ nopost }}</h2>
    <div class="post">
      <div class="post-unico" *ngFor="let posts of post">
        <app-post-unico [logUserId]="userId"  [post]="posts" (postDeleted)="onPostDeleted()"></app-post-unico>
      </div>
    </div>
  </div>
  <div *ngIf="user" class="user-nav col-3 p-0 shadow-sm"
    style="position: sticky;top: 0;background-color: ghostwhite;border-radius: 15px; border: 2px solid #ede8f6;">
    <div class="p-3 pe-1 h-100" style="overflow-y: auto; overflow-x: hidden;">
      <app-users [listFriends]="friendlist"></app-users>
    </div>
  </div>
</div>