mat-drawer-container {
  height: 250px;
}

.container {
  display: flex;
  margin-bottom: 20px;
  display: flex;
  margin: 0 auto;
  width: 72%;
  margin-top: 10px;
}

mat-drawer {
  border-right: 0px;
  margin-top: 6px;
}

.photo-container {
  margin-top: 10px;
  width: 220px;
  height: 220px;
  overflow: hidden;
  align-items: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.photo {
  width: 100%;
  height: auto;
}

.cerchio {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-left: 10px;
}
.example-card {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}
.post {
  margin-top: 30px;
  width: 90%;
  margin: 0 auto;
}
mat-card-header {
  margin-bottom: 20px;
}
mat-card-title {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
h2 {
  padding-bottom: 15px;
}

.addUser {
  width: 100%;
  text-align: center;
  margin-top: 25px;
}
.example-container {
  background-color: rgb(235, 232, 232);
}
.photo-border {
  margin-left: 10px;
  background-color: rgb(235, 232, 232);
}

.card {
  margin-left: 20px;
}

.description-device {
  margin-top: 9px;
  text-align: center;
}
.user-info {
  background-color: rgb(235, 232, 232);
  width: 300px;
}

mat-card-subtitle {
  margin-top: 10px;
}

.description {
  text-align: center;
}
.desc {
  background-color: rgb(224, 219, 219);
  text-align: center;
}
.example-card {
  display: none;
  margin-top: 1px;
  width: 95%;
  background-color: rgb(224, 219, 219);
}
.description-hide {
  text-align: center;
}
.container-device-info-user {
  display: none;
}
.btnPost {
  height: 20px;
  width: 200px;
  margin-bottom: 15px;
}
.btnUser {
  width: 200px;
  height: 35px;
  margin-bottom: 20px;
  background-color: rgb(163, 122, 151);
}
.no-post {
  font-size: 25px;
  margin-top: 30px;
  text-align: center;
}
.add {
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgb(163, 122, 151);
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.addPost {
  margin: 0 auto;
  width: 65%;
}
.title {
  width: 65%;
}
/* .post-container {
  width: 100%;
} */

/* .addPost {
  flex-grow: 1;
} */
h1 {
  margin-top: 5px;
}
@media only screen and (max-width: 1360px) {
  .container {
    width: 95%;
  }
  .desc {
    display: none;
  }
  .example-card {
    display: flex;
  }
  .add {
    width: 70%;
  }
}

@media only screen and (max-width: 690px) {
  .photo-container {
    margin-top: 10px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
    align-items: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
  }
  .desktop-user-info {
    display: none;
  }
  .photo-border {
    margin-top: 25px;
    width: 100%;
    margin-left: 0px;
  }
  .container-device-info-user {
    display: flex;
    width: 95%;
    margin: 0 auto;
    border-radius: 0%;
  }
  .post {
    padding-bottom: 0px;
  }
  .add {
    width: 85%;
  }
}
