mat-form-field {
  margin-top: 8px;
  margin-left: 8px;
  flex-direction: column;
  display: flex;
  margin: 0 auto;
}

button {
  display: flex;
  margin-left: 8px;
  width: 120px;
  margin: 0 auto;
  background-color: lightcoral;
  height: 32px;
}

mat-card {
  width: 45%;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 40px;
  background-color: rgb(228, 201, 220);
}
.login {
  padding-bottom: 15px;
}
mat-card-content {
  margin: 0 auto;
  text-align: center;
}

h2 {
  text-align: center;
}

.idUser {
  margin-top: 10px;
}
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 850px) {
  mat-card {
    width: 90%;
  }
}
