.title {
  display: flex;
    font-family: serif;
    font-size: 30px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

::ng-deep .mdc-dialog__surface{
  border-radius: 20px;
}

.secondInfo{
  /* font-size: 14px; */
  font-size: 0.48em;
  color: rgb(88, 88, 88);
}

.image-preview {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px; /* Diametro del cerchio */
  height: 300px; /* Diametro del cerchio */
  overflow: hidden;
  border-radius: 50%; /* Crea il cerchio */
  background-color: rgb(197, 197, 197); /* Colore di sfondo, nel caso l'immagine non venga caricata */
}

.image-preview:hover {
  border: 2px solid #866ec0;
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Adatta l'immagine al contenitore senza deformarla */
}

.input-title-text{
  background-color: #faf9f9;
  border-radius: 10px;
  }
  
  .input-title-text:hover {
    /* background-color: white; */
    background-color: #ececec;
  }
  .input-title-text:focus {
    background-color: #ececec;
  }

  .addUser {
    width: 100%;
    height: 30%;
    align-items: end;
    border-top: 1px solid gray;
  }

  .btnUser {
    width: 200px;
    height: 35px;
    background-color:  #866ec0;;
  }

  .icon-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5); /* Sfondo semi-trasparente */
    color: white;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon-overlay mat-icon {
    font-size: 24px;
  }