<div class="dialog-content">
  <form #addUserform="ngForm" (ngSubmit)="onSubmit(addUserform)">
    <h2>Customize Profile</h2>
    <label class="custom-file-upload">
      <input type="file" (change)="uploadImage($event)" accept="image/*" />
      Carica Immagine
    </label>
    <div *ngIf="selectedImageName">
      <h2>File selezionato: {{ selectedImageName }}</h2>
    </div>
    <mat-form-field>
      <mat-label>Change Name</mat-label>
      <input matInput type="text" name="name" [(ngModel)]="userDto.name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Change your email</mat-label>
      <input matInput type="email" name="email" [(ngModel)]="userDto.email" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Change your Password</mat-label>
      <input
        matInput
        type="text"
        name="password"
        [(ngModel)]="userDto.password"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Change Gender</mat-label>
      <mat-select name="gender" [(ngModel)]="userDto.gender">
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Change your age</mat-label>
      <input matInput type="text" name="age" [(ngModel)]="userDto.age" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Change your Address</mat-label>
      <input
        matInput
        type="text"
        name="address"
        [(ngModel)]="userDto.address"
      />
    </mat-form-field>
    <mat-form-field class="description">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        type="text"
        name="description"
        [(ngModel)]="userDto.description"
        class="fixed-height-textarea"
      ></textarea>
    </mat-form-field>
    <button class="adduser" mat-fab extended color="primary" type="submit">
      Change Info
    </button>
    <h2>{{ textCreate }}</h2>
    <div class="close" mat-dialog-actions>
      <button class="closebtn" mat-fab extended mat-dialog-close>Close</button>
    </div>
    <h2 class="error">{{ textError }}</h2>
  </form>
</div>
