<mat-drawer-container class="container">
  <mat-drawer mode="side" opened>
    <ul class="mat-list">
      <li
        class="mat-list-item"
        routerLink="/homeUser"
        routerLinkActive="active"
      >
        <mat-icon>account_circle</mat-icon>
        <span>Home</span>
      </li>
      <li class="mat-list-item" routerLink="/posts" routerLinkActive="active">
        <mat-icon>post_add</mat-icon>
        <span>Posts</span>
      </li>
      <li class="mat-list-item" routerLink="/users" routerLinkActive="active">
        <mat-icon>group</mat-icon>
        <span>Users</span>
      </li>
    </ul>
  </mat-drawer>
  <mat-drawer-content class="content-wrapper"
    ><mat-toolbar>
      <button mat-icon-button routerLink="posts">
        <img
          src="../assets/faviconFiore.png"
          alt="Harmony Icon"
          style="width: 26px; height: 26px"
        />
      </button>
      <span>Harmony</span>
      <span class="spacer"></span>
      <button class="logOut" mat-icon-button type="button" (click)="logOut()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
    <nav class="bottom-nav">
      <a
        class="mat-list-item"
        routerLink="/homeUser"
        routerLinkActive="active-link"
      >
        <mat-icon>account_circle</mat-icon>
        <span>Home</span>
      </a>
      <a
        class="mat-list-item"
        routerLink="/posts"
        routerLinkActive="active-link"
      >
        <mat-icon>post_add</mat-icon>
        <span>Posts</span>
      </a>
      <a
        class="mat-list-item"
        routerLink="/users"
        routerLinkActive="active-link"
      >
        <mat-icon>group</mat-icon>
        <span>Users</span>
      </a>
    </nav>
  </mat-drawer-content>
</mat-drawer-container>
