<form
  class="search pb-2 pt-1"
  #SearchUserform="ngForm"
  (ngSubmit)="onSubmit(SearchUserform)"
>
  <!-- <mat-form-field appearance="outline" class="custom-search-bar">
    <mat-label>Search By Name or Email</mat-label>
    <input
      matInput
      type="text"
      name="search"
      placeholder="Type here..."
      [(ngModel)]="userDto.search"
    />
  </mat-form-field>
  <mat-radio-group
    aria-label="Select an option"
    [(ngModel)]="selectedOption"
    name="searchOption"
  >
    <mat-radio-button value="1">By Name</mat-radio-button>
    <mat-radio-button value="2">By email</mat-radio-button>
  </mat-radio-group>
  <button mat-fab extended color="primary" type="submit">Search</button>
  <button class="back" mat-fab extended color="primary" (click)="back()">
    Go Back
  </button> -->
  <input class="input" style="width: 98%;" placeholder="Persone che potresti conoscere">
</form>

<div class="loading-overlay" *ngIf="isLoading">
  <mat-spinner diameter="40"></mat-spinner>
</div>
<div class="card my-2" style="height: 100px;box-sizing: border-box; background-color: #f9f6ff; border-radius: 15px;width: 98%;" *ngFor="let user of users">
  <div class="row h-100" style="align-items: center;">
    <div class="col-4">
      <div class="ps-2">
        <a style="cursor: pointer;" (click)="openUserProfile(user._id)" routerLinkActive="active">
          <div class="image-preview">
            <div *ngIf="imageLoading">
              <mat-spinner diameter="20"></mat-spinner>
            </div>
            <img *ngIf="!imageLoading" [src]="userImage[user.imageId] || userImage[user._id]" />
          </div>
        </a>
      </div>
    </div>
    
    <div class="col-8">
      <!-- <div class="row g-0"> -->
      <div>
        <div class="d-flex align-items-center ">
          <span><a class="user-link"(click)="openUserProfile(user._id)">{{ user.name }}</a></span>
          <span class="ms-2" style="display: inline-block; height: 7px; width: 7px; border-radius: 50%;" [ngStyle]="{
                    background: user.status === 'online' ? 'green' : 'red'
                  }"></span>
        </div>
        <a class="user-link" (click)="openUserProfile(user._id)"><div style="font-size: 10px;">{{user.email}}</div></a>
      </div>
      <!-- <div class="d-flex justify-content-end align-items-end pt-2 pe-2">
        <button style="height: 22px; background-color: #866ec0; " mat-fab extended color="primary" type="submit">
        Apri Profilo
      </button>
      </div> -->
    </div>
  </div>
  <!-- <mat-card class="container">
    <mat-drawer-container class="example-container">
      <mat-drawer mode="side" opened class="photo-border">
        <div class="photo-container">
          <img class="photo" [src]="userImage[user._id]" />
        </div>
      </mat-drawer>
      <mat-drawer-content
        ><mat-card-header class="card-info">
          <mat-card-title
            >{{ user.name }}
            <div
              class="cerchio"
              [ngStyle]="{
                background: user.status === 'online' ? 'green' : 'red'
              }"
            ></div>
          </mat-card-title>
          <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-fab extended color="primary" routerLink="{{ user._id }}">
            Open Profile
          </button>
        </mat-card-actions>
      </mat-drawer-content>
    </mat-drawer-container>
  </mat-card> -->
</div>
<div class="button-paginator">
  <button
    class="paginator"
    *ngIf="remainingUsers > 0"
    mat-fab
    extended
    (click)="loadMoreUsers()"
  >
    Load more User
    <mat-icon
      ><span class="paginator-color">
        keyboard_double_arrow_down
      </span></mat-icon
    >
  </button>
</div>
