.loading-overlay {
  position: absolute; /* Usa fixed per coprire tutta la viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Assicura che stia sopra a tutto */
}

.image-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px; /* Diametro del cerchio */
  height: 75px; /* Diametro del cerchio */
  overflow: hidden;
  border-radius: 50%; /* Crea il cerchio */
  background-color: rgb(197, 197, 197); /* Colore di sfondo, nel caso l'immagine non venga caricata */
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Adatta l'immagine al contenitore senza deformarla */
}

.user-link {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.user-link:hover {
  color: #866ec0;
  text-decoration: underline;
}

.image-preview:hover {
  border:2px solid #866ec0;
}

.input {
  border: 2px solid transparent;
  width: 40%;
  height: 3em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #fdfdfd;
  box-shadow: 0 0 .2vw rgba(53, 52, 52, 0.5), 0 0 0 .15vw transparent;
  border-radius: 10px;
  transition: all 0.5s;
}

.input:hover,
.input:focus {
  border: 2px solid #4A9DEC;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

.custom-search-bar {
  width: 35%;
}

.button-paginator {
  width: 100%;
  text-align: center;
}

.paginator {
  background-color: #866ec0;
  height: 26px;
  color: white;
  font-size: 11px;
  width: 200px;
  margin: 0 auto;
  margin-top: 10px;
}
