<form [formGroup]="formCommunity" class="w-full  h-full">
    <div class="w-full" style="height: calc(100% - 48px)">
        <div class="py-1 pt-3 px-4">
            <input formControlName="communityName"  name="title" class="input-title-text shadow-sm w-full ps-3" placeholder="Crea una Community"
            style="outline: none; height: 40px;">
            <div class="pt-3 w-full flex justify-center"> 
                <button class="communityButton" mat-button style="height: 26px; border-radius: 5px;width: 80%;">
                    Crea "<strong>{{ communityInputName }}</strong>" e collega al post
                </button>
            </div>
            <div class="pt-3" style="height: 3px;width: 100%;border-bottom: 2px solid rgb(212, 212, 212);"></div>
        </div>
        <div class="grid grid-cols-8 px-2 w-full pt-2">
            <ng-container *ngFor="let community of communityList">
                <div class="col-span text-center py-1">
                    <button  class="communityButton" mat-button>
                    {{community.displayName}}
                    </button>
                </div>
                <div class="col-span text-center py-1">
                    <button  class="communityButton" mat-button>
                    {{community.displayName}}
                    </button>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="flex justify-end items-center w-full" style="height: 45px;border-top: 2px solid rgb(212, 212, 212);">
        <button class="communityButton me-2" mat-button style="height: 30px; border-radius: 5px;width: 160px;">
             Collega al post
        </button>
    </div>
    <!-- <div class="pt-3" style="height: 3px;width: 100%;border-bottom: 2px solid rgb(212, 212, 212);"></div> -->
</form>