<!-- <div *ngIf="user">
  <mat-card class="container"
    ><mat-drawer-container class="example-container">
      <mat-drawer mode="side" opened class="photo-border"
        ><div class="photo-container">
          <img class="photo" [src]="userImage[idUser]" /></div
      ></mat-drawer>
      <mat-drawer-content
        ><mat-drawer-container class="example-container">
          <mat-drawer mode="side" opened class="user-info">
            <mat-card-header class="card">
              <mat-card-title
                >{{ user.name }}
                <div
                  class="cerchio"
                  [ngStyle]="{
                    background: user.status === 'online' ? 'green' : 'red'
                  }"
                ></div>
              </mat-card-title>
              <mat-card-subtitle>Email : {{ user.email }}</mat-card-subtitle>
              <mat-card-subtitle
                >Age : {{ user.age || "Age not provided" }}</mat-card-subtitle
              >
              <mat-card-subtitle
                >Address :
                {{ user.address || "Address not provided" }}</mat-card-subtitle
              >
              <mat-card-subtitle>Gender : {{ user.gender }}</mat-card-subtitle>
            </mat-card-header>
          </mat-drawer>
          <mat-drawer-content class="desc">
            <mat-card-content>
              <h2 class="description">Description</h2>
              {{
                user.description || "No description available"
              }}</mat-card-content
            >
          </mat-drawer-content>
        </mat-drawer-container>
      </mat-drawer-content>
    </mat-drawer-container>
  </mat-card>
  <mat-card class="container-device-info-user">
    <mat-card-content class="device-info-user">
      <mat-card-title class="user-name"
        >{{ user.name }}
        <div
          class="cerchio"
          [ngStyle]="{
            background: user.status === 'online' ? 'green' : 'red'
          }"
        ></div>
      </mat-card-title>
      <mat-card-subtitle>Email : {{ user.email }}</mat-card-subtitle>
      <mat-card-subtitle
        >Age : {{ user.age || "Age not provided" }}</mat-card-subtitle
      >
      <mat-card-subtitle
        >Address :
        {{ user.address || "Address not provided" }}</mat-card-subtitle
      >
      <mat-card-subtitle>Gender : {{ user.gender }}</mat-card-subtitle>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-content>
      <h2 class="description">Description</h2>
      {{ user.description || "No description available" }}</mat-card-content
    >
  </mat-card>
  <h2 class="no-post">{{ noPost }}</h2>
  <div class="post" *ngFor="let posts of post">
    <app-post-unico [post]="posts"></app-post-unico>
  </div>
</div> -->
<div class="row p-3 h-100" style="overflow: auto;">
  <div class="col-9 " *ngIf="user">
    <div class="d-flex justify-content-center pb-4">
      <mat-card class="p-3" style="border-radius: 15px; width: 100%; background-color: #ede8f6;">
        <div class="row h-100">
          <div class="col-5 d-flex justify-content-center p-2">
            <div class="ps-2">
              <div class="image-preview">
                <div *ngIf="imageLoading">
                  <mat-spinner diameter="50"></mat-spinner>
                </div>
                <img *ngIf="!imageLoading" [src]="userImage[user.imageId] || userImage[user._id]"/>
              </div>
            </div>
          </div>
          <div *ngIf="user" class="col-7 align-content-center" style="font-size: 32px;font-weight: 500;">
            <div class="d-flex align-items-center py-3">
              <span>{{ user.name }}</span>
              <span class="ms-2" style="display: inline-block; height: 10px; width: 10px; border-radius: 50%;"
                [ngStyle]="{
                      background: user.status === 'online' ? 'green' : 'red'
                    }"></span>
            </div>
            <div class="secondInfo">{{user.email}}</div>
            <div class="secondInfo">Age : {{ user.age || "Age not provided" }}</div>
            <div class="secondInfo">Address :{{ user.address || "Address not provided" }}</div>
            <div class="secondInfo">Gender : {{ user.gender }}</div>
            <button [disabled]="disableButton" mat-button style="background-color: #ffffff;" (click)="sendFriendRequest(user._id)">{{buttonText}}</button>
            <button  mat-button style="background-color: #ffffff;" (click)="removeFriend(user._id)">Rimuovi Amicizia</button>
          </div>
          <div class="col d-flex align-items-center flex-column pt-3">
            <div style="height: 70%; width: 100%">
              <p style="font-size: 24px; font-weight: 500;">In breve</p>
              <p style="text-align: justify;font-size: 0.99em;">{{
                user.description || "No description available"
                }}</p>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
    <!-- <h2 class="no-post">{{ noPost }}</h2> -->
    <div  class="post" *ngFor="let posts of post">
      <app-post-unico *ngIf="posts" [post]="posts"></app-post-unico>
    </div>
  </div>
  <div *ngIf="user" class="user-nav col-3 p-0"
    style="position: sticky;top: 0;background-color: #ede8f6;border-radius: 15px; overflow: hidden;">
    <div class="p-3 pe-1  h-100" style="overflow-y: auto; overflow-x: hidden;">
      <app-users></app-users>
    </div>
  </div>
</div>