<form [formGroup]="commentFormReactive" *ngIf="isCommentVisible" @fadeInOut>
  <div class="px-1 pb-1 bg-gray-100">
    <label for="chat" class="sr-only">Your message</label>
    <div class="flex items-center px-3 py-1 rounded-lg dark:bg-gray-700 border border-gray-300 bg-white">
        <button #emojiTrigger type="button" (click)="toggleEmojiPicker(emojiTrigger)" style="border-radius: 50%;"
        class="p-1 flex rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
            <!-- <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.408 7.5h.01m-6.876 0h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0ZM4.6 11a5.5 5.5 0 0 0 10.81 0H4.6Z"/>
            </svg> -->
            <span class="material-symbols-outlined" style="font-size: 26px;">
              mood
            </span>
            <span class="sr-only">Add emoji</span>
        </button>
        <ng-template #emojiMenu>
          <div class="shadow bg-white border border-gray-300 rounded shadow p-2  max-w-xs">
            <div class="flex flex-wrap gap-1">
              <button *ngFor="let emoji of emojiList" (click)="addEmoji(emoji)"
                class="text-2xl hover:scale-125 transition-transform">
                {{ emoji }}
              </button>
            </div>
          </div>
        </ng-template>
        <!-- <div *ngIf="showEmojiPicker" class="bg-white border border-gray-300 rounded shadow p-2 mt-2 max-w-xs">
          <div class="flex flex-wrap gap-1">
            <button *ngFor="let emoji of emojiList" (click)="addEmoji(emoji)"
              class="text-2xl hover:scale-125 transition-transform">
              {{ emoji }}
            </button>
          </div>
        </div> -->
        <textarea name="body" formControlName="content" id="chat" rows="1" class="block mx-1 me-3 p-1.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border
         border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400
          dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your message..."></textarea>
          <button [disabled]="commentFormReactive.invalid || isSend" type="submit" (click)="onSubmit()" class="w-9 h-9 send-message inline-flex justify-center items-center p-2 rounded-full
           cursor-pointer hover:bg-gray-200 disabled:hover:bg-transparent disabled:text-gray-400 disabled:cursor-not-allowed">
            <svg  class="w-4.5 h-4.5 rotate-90 rtl:-rotate-90" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                <path d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z"/>
            </svg>
            <span class="sr-only">Send message</span>
        </button>
    </div>
    <!-- <div class="input-add">
      <textarea name="body" class="textArea w-100 " placeholder="Leave a comment" [(ngModel)]="commentDto.content" style="height: 38px; border: 0;background-color:  #faf9f9;"></textarea>
      <div class="w-100 d-flex justify-content-end">
      <button  mat-fab extended style="height: 22px;background-color: rgb(161 118 183);color: white;"
        type="submit"
        [disabled]="!commentDto.content || isSend"
      >Comment</button>
    </div>
    </div> -->
  </div>
</form>
<ng-container *ngIf="isCommentVisible">
<div class="commenti py-2 pb-1 px-3 bg-gray-100" *ngFor="let comments of comment" @fadeInOut>
  <mat-card class="comment-card p-2" style="width: fit-content; max-width: 60%; border-radius: 15px;">
    <div class="card-header d-flex" style="flex-direction: column;">
      <div style="font-weight: 500;font-size: 13px;">{{comments.name}}</div>
      <div>{{comments.content}}</div>
    </div>
  </mat-card>
  <div class="ps-2" style="font-size: 10px;">{{comments.createdAt | date : "dd/MM/yy, HH:mm"}}</div>
</div>
</ng-container>




<!-- <mat-form-field appearance="fill">
    <mat-label>Leave a comment</mat-label>
    <input
      type="text"
      name="body"
      matInput
      #message
      maxlength="256"
      placeholder="Ex. I like your Post"
      [(ngModel)]="commentDto.content"
    />
    <button
      mat-icon-button
      class="send"
      aria-label="Example icon-button with heart icon"
      type="submit"
      [disabled]="!commentDto.content || isSend"
    >
      <mat-icon>send</mat-icon>
    </button>
  </mat-form-field> -->




  <!-- <mat-card-title>{{ comments.name }}</mat-card-title>
      <span class="date">{{
        comments.createdAt | date : "dd/MM/yy, HH:mm"
      }}</span> -->



      <!-- <mat-card-subtitle>{{ comments.email }}</mat-card-subtitle>
    <p>{{ comments.content }}</p> -->