<form #Commentform="ngForm" (ngSubmit)="onSubmit(Commentform)">
  <mat-form-field appearance="fill">
    <mat-label>Leave a comment</mat-label>
    <input
      type="text"
      name="body"
      matInput
      #message
      maxlength="256"
      placeholder="Ex. I like your Post"
      [(ngModel)]="commentDto.content"
    />
    <button
      mat-icon-button
      class="send"
      aria-label="Example icon-button with heart icon"
      type="submit"
      [disabled]="!commentDto.content || isSend"
    >
      <mat-icon>send</mat-icon>
    </button>
  </mat-form-field>
</form>

<div class="commenti" *ngFor="let comments of comment">
  <mat-card class="comment-card">
    <div class="card-header">
      <mat-card-title>{{ comments.name }}</mat-card-title>
      <span class="date">{{
        comments.createdAt | date : "dd/MM/yy, HH:mm"
      }}</span>
    </div>
    <mat-card-subtitle>{{ comments.email }}</mat-card-subtitle>
    <p>{{ comments.content }}</p>
  </mat-card>
</div>
